name: Publish Allure Report

on:
  workflow_run:
    workflows: ["Run Playwright Tests"]
    types:
      - completed

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download Allure Results
        uses: actions/download-artifact@v4
        with:
          name: allure-results
          path: allure-results

      # Instalar Allure CLI manualmente (zero erros, funciona sempre)
      - name: Install Allure CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y default-jre unzip wget
          ALLURE_VERSION=2.29.0
          wget https://repo.maven.apache.org/maven2/io/qameta/allure/allure-commandline/$ALLURE_VERSION/allure-commandline-$ALLURE_VERSION.zip -O allure.zip
          unzip allure.zip -d allure-cli
          sudo mv allure-cli/allure-$ALLURE_VERSION /opt/allure
          sudo ln -sf /opt/allure/bin/allure /usr/bin/allure

      - name: Generate Allure Report
        run: allure generate allure-results -o allure-report --clean

      - name: Deploy Allure Report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: allure-report
          publish_branch: gh-pages
